
:root {
  --primary-color: #015249;
  --primary-color-light: #c5e3d6;
  --secondary-color: #043933;
  --error-color: #d90909;
  --error-color-light:#ef9999;
  --gradient-green-light:#56ba8f;
  --gradient-green-dark:#045043;
  --font-family: Arial, Helvetica, sans-serif
}

.data-table::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

body{
  background-color:#ebebeb;
}